/* 角白丸 */
.border-radius {
  position: absolute;
  width: 500px;
  height: 500px;
  line-height: 200px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  color: #fff;
  text-align: center;
  top: 200px;
  left: 100px;
  z-index: 2;
}

/* 吹き出し */
.balloon3 {
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 0 5px;
  width: 90px;
  height: 90px;
  line-height: 90px;
  text-align: center;
  color: #FFF;
  font-size: 20px;
  font-weight: bold;
  background: #70a6ff;
  border-radius: 50%;
  box-sizing: border-box;
  top: -120px;
  left: 560px;
}

.balloon3:before {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid #70a6ff;
  z-index: 1;
}

/* 資料請求ダウンロード */
.btn1{
  width: 209px;
  padding: 14px 0 16px 0;
  font-size: 16px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  display: block;
  margin: 0 auto;
  color: rgb(255, 255, 255);
  background: #444;
  line-height: 1;
  border-radius: 50px;
  transition: all .2s;
  top: 1600px;
  left: 800px;
}
.btn1:hover{
  opacity: 0.6;
}

/* 無料体験はこちらから */
.btn2{
  width: 209px;
  padding: 14px 0 16px 0;
  font-size: 16px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  display: block;
  margin: 0 auto;
  color: rgb(255, 255, 255);
  background: #444;
  line-height: 1;
  border-radius: 50px;
  transition: all .2s;
  top: 1600px;
  left: 1100px;
}
.btn2:hover{
  opacity: 0.6;
}

/* 資料請求ダウンロード */
.btn3{
  width: 209px;
  padding: 14px 0 16px 0;
  font-size: 16px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  display: block;
  margin: 0 auto;
  color: rgb(255, 255, 255);
  background: #444;
  line-height: 1;
  border-radius: 50px;
  transition: all .2s;
  top: 3500px;
  left: 800px;
}
.btn3:hover{
  opacity: 0.6;
}

/* 無料体験はこちらから */
.btn4{
  width: 209px;
  padding: 14px 0 16px 0;
  font-size: 16px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  display: block;
  margin: 0 auto;
  color: rgb(255, 255, 255);
  background: #444;
  line-height: 1;
  border-radius: 50px;
  transition: all .2s;
  top: 3500px;
  left: 1100px;
}
.btn4:hover{
  opacity: 0.6;
}

/* アコーディオンメニュー 変更しないでね*/

.accordion {
  position: relative;
  top: 2200px;
  text-align: left;
  width: 70%;
  padding: 0px 200px;
}

.toggle {
	display: none;
}
.Label {		/*タイトル*/
	padding: 1em;
	display: block;
	color: #fff;
	background:#000000;
}
.Label::before{		/*タイトル横の矢印*/
	content:"";
	width: 6px;
	height: 6px;
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
	-webkit-transform: rotate(45deg);
	position: absolute;
	top:calc( 50% - 3px );
	right: 20px;
	transform: rotate(135deg);
}

/* テキストの位置かな???? */
.Label,
.content {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transform: translateZ(0);
	transition: all 0.3s;
}
.content {		/*本文*/
	height: 0;
	margin-bottom:10px;
	padding:0 20px;
	overflow: hidden;
}
.toggle:checked + .Label + .content {	/*開閉時*/
	height: auto;
	padding:40px ;
	transition: all .3s;
}
.toggle:checked + .Label::before {
	transform: rotate(-45deg) !important;
}