/* 青色背景 */
.image1 {
  position: absolute;
  width: 100%;
  text-align: center;
  top: auto;
  z-index: 1;
}

/* 学習男の子 */
.image2 {
  position: absolute;
  top: 200px;
  left: 800px;
  z-index: 2;
}

@media only screen and (max-width: 480px){
/* 学習男の子 */
.image2 {
  position: absolute;
  width: 200px;
  height: auto;
  top: 200px;
  left: 500px;
  z-index: 2;
}
}

/* 学習集団 */
.image3 {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 1000px;
}
/* 黒色背景1 */
.image4 {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 1600px;
}
/* 灰色背景 */
.image5 {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 2650px;
}
/* 黒色背景2 */
.image6 {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 3450px;
}
/* 灰色背景2 */
.image7 {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 4500px;
}