/* タイトル */
.text1{
  position: absolute;
  font-size: 40px;
  top: 300px;
  left: 290px;
  z-index: 3;
}

/* ここにテキストが入ります。 */
.text2{
  position: absolute;
  font-size: 30px;
  top: 400px;
  left: 180px;
  z-index: 3;
}

/* こんなお悩みはありませんか??? */
.text3{
  position: relative;
  font-size: 50px;
  top: 700px;
  text-align: center;
}

/* 気になる方はこちらから */
.text4{
  position: relative;
  font-size: 40px;
  top: 1460px;
  margin-left: 50px;
  text-align: left;
  color: #ffffff;
}

/* 料金表 */
.text5{
  position: relative;
  font-size: 80px;
  top: 1600px;
  text-align: center;
  color: #000000;
}
/* TextText */
.text6{
  position: relative;
  font-size: 80px;
  top: 2400px;
  text-align: center;
  color: #000000;
}
/* TextText */
.text7{
  position: relative;
  font-size: 50px;
  top: 2450px;
  text-align: center;
  color: #000000;
}

/* 気になる方はこちらから */
.text8{
  position: relative;
  font-size: 40px;
  top: 2800px;
  margin-left: 50px;
  text-align: left;
  color: #ffffff;
}

/* Q&A */
.text9{
  position: relative;
  font-size: 60px;
  top: 3000px;
  margin-left: 50px;
  text-align: center;
  color: #000000;
}

/* スクール名 */
.text10{
  position: relative;
  font-size: 40px;
  top: 3800px;
  margin-left: 50px;
  text-align: left;
  color: #ffffff;
}

/* 会社名 */
.text11{
  position: relative;
  font-size: 20px;
  top: 3850px;
  margin-left: 50px;
  text-align: left;
  color: #ffffff;
}
/* 郵便番号~電話番号 */
.text12{
  position: relative;
  font-size: 20px;
  top: 3900px;
  margin-left: 50px;
  text-align: left;
  color: #ffffff;
}

/* コピーライト */
.text13{
  position: relative;
  font-size: 20px;
  top: 3950px;
  margin-left: 50px;
  text-align: left;
  color: #ffffff;
}